<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <mirrors>
    <mirror>
      <id>elastic-path</id>
      <url>http://maven.elasticpath.net/nexus/content/groups/cleanroom/</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
  </mirrors>

  <activeProfiles>
    <activeProfile>allow-snapshots-from-central</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>allow-snapshots-from-central</id>
      <repositories>
        <repository>
          <!-- This is the recommended way of pointing central to our local repository. -->
          <id>central</id>
          <url>http://repo1.maven.org/?url-overridden-by-mirrorOf-above</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <!-- This is the recommended way of pointing central to our local repository. -->
          <url>http://repo1.maven.org/?url-overridden-by-mirrorOf-above</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>
