/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import './../style/common.less';

.cart-container {
  min-height: 100%;
  margin-bottom: 0px;

  .cart-main-container {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 32px;

    h2 {
      margin-top: 0;
    }
  }

  .cart-container-inner {
    .cart-title-container {
      border-bottom: 2px solid gray;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #ffffff;

      .btn-cmd-continue-shopping {
        display: none;
        padding: 6px 12px;
        font-size: 28px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        user-select: none;
        border-radius: 2px;
        color: gray;
        position: relative;
        float: right;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 22px;
        margin-bottom: 22px;
      }

      h1 {
        display: inline-block;
        position: relative;
        width: 70%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 24px;
        color: gray;
      }
    }

    .cart-sidebar {
      display: block;
      width: 100%;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;

      .cart-sidebar-inner {
        display: inline-block;
        padding: 32px;
        border: 3px solid @mainColor;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.6);
        text-align: left;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background: #ffffff;

        h3 {
          margin: 0 0 32px 0;
        }

        .btn-cmd-checkout {
          display: inline-block;
          padding: 8px 14px;
          margin-bottom: 0;
          font-size: 14px;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 4px;
          white-space: nowrap;
          user-select: none;
          border-radius: 2px;
          margin-bottom: 2px;
          color: #ffffff;
          background-color: @mainColor;

          &.disabled,
          &[disabled],
          fieldset[disabled] & {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.65;
            box-shadow: none;
            border-color: @mainColor;
          }

          &:hover,
          &:focus,
          &:active,
          &.active,
          .open .dropdown-toggle& {
            color: #ffffff;
            border-color: @mainColor;
          }
        }
      }
    }
  }
}
