/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import './../style/common.less';

.profile-container {
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 4px;
    white-space: nowrap;
  }

  .btn-primary {
    font-size: 14px;
    color: #ffffff;
    background-color: @mainColor;
    border-color: @mainColor;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
