{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {},
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.config.base.js"
      }
    }
  },
  "plugins": [
    "header"
  ],
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 400,
        "tabWidth": 2,
        "ignoreComments": true
      }
    ],
    "react/prop-types": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-underscore-dangle": "off",
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "components": [
          "Label"
        ],
        "required": {
          "every": [
            "id"
          ]
        }
      }
    ],
    "header/header": [
      2,
      "block", [
        "*",
        " * Copyright © 2018 Elastic Path Software Inc. All rights reserved.",
        " *",
        " * This is free software: you can redistribute it and/or modify",
        " * it under the terms of the GNU General Public License as published by",
        " * the Free Software Foundation, either version 3 of the License, or",
        " * (at your option) any later version.",
        " *",
        " * This software is distributed in the hope that it will be useful,",
        " * but WITHOUT ANY WARRANTY; without even the implied warranty of",
        " * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the",
        " * GNU General Public License for more details.",
        " *",
        " * You should have received a copy of the GNU General Public License",
        " * along with this license. If not, see",
        " *",
        " *     https://www.gnu.org/licenses/",
        " *",
        " *",
        " "
      ]
    ]
  }
}
