# See https://help.github.com/ignore-files/ for more about ignoring files.

.idea/
# dependencies
reference-storefront/node_modules/
react-storefront-components/node_modules/

# testing
reference-storefront/coverage

# _site directory
reference-storefront/_site

# production
reference-storefront/build
reference-storefront/dist
reference-storefront/webpack/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

reference-storefront/npm-debug.log*
reference-storefront/yarn-debug.log*
reference-storefront/yarn-error.log*
