/**
 * Copyright © 2019 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import './../../../theme/common.less';

.itemdetail-component {
  line-height: 2.14;
  padding-top: 30px;
  text-align: center;

  .itemdetail-assets {
    margin-top: 30px;
    width: 50%;
    position: relative;
    top: 0;
    padding: 0 10px;
    vertical-align: top;
    display: inline-block;

    .itemdetail-asset-container {
      position: relative;

      img {
        max-width: 100%;
        max-height: 600px;
        width: 100%;
        object-fit: cover;
      }
    }

    .featured {
      max-width: 380px;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 18px;
    }

    .vr-icon-container {
      height: 30px;
      width: 55px;
      border: none;
      background: url('@{imgComponentUrl}/icons/vr_icon.svg') no-repeat 0px center;
      border: none;
      left: 11px;
      top: 7px;
      position: absolute;
      z-index: 3;
      &:hover {
        background: url('@{imgComponentUrl}/icons/vr_icon_hover.svg') no-repeat 0px center;
      }
      &:focus {
        outline: 0;
      }
    }
  }

  @media (min-width: @mobileWidth - 100px) and (max-width: @tabletWidth - 350px) {
    .itemdetail-assets {
      width: 50%;
      height: 100%;
    }

    .itemdetail-assets .itemdetail-asset-container img {
      width: 100%;
      height: 100%;
    }

  }

  @media (max-width: @mobileWidth - 100px) {
    .itemdetail-assets {
      position: initial;
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.itemdetail-tabs {
  &-wrap {
    margin-top: 30px;
  }
  .nav-item {
    margin-bottom: 0;
  }
  .nav-item {
    .nav-link {
      padding: 5px 15px;
      font-size: 14px;
      color: @secondComplimentTextColor;
      &:hover {
        border-color: transparent;
        color: @mainTextColor;
      }
      &.active {
        color: @mainTextColor;
        font-weight: bold;
        border-color: transparent;
        border-bottom-color: @mainTextColor;
      }
      &.disabled {
        cursor: default;
        color: @secondComplimentTextColor;
      }
    }
  }
}

.anchor-ar-container {
  position: absolute;
  right: 7px;
  top: 7px;
  border: none;
  width: 36px;
  height: 26px;
  outline: 0;
  z-index: 20;
}

.ar-img {
  position: relative;
  width: 26px;
  height: 36px;
  background: url('@{imgComponentUrl}/icons/ar_icon.svg') no-repeat 9px center;
  border: 0px;
}

.product-item-container {
  position: relative;
  z-index: 0;
  
  @media (min-width: @tabletWidth) {
    display: flex;

    .itemdetail-assets {
      width: 700px;
    }

    .itemdetail-details {
      width: auto;
      flex-grow: 1;
    }
  }
}

.product-image-carousel {
  max-width: 450px;
  margin: 0 auto;
  position: relative;

  @media (max-width: @tabletWidth - 1px) {
    max-width: 100%;
  }

  .slick-arrow {
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 1;
    border-radius: 50%;
    border: 1px solid @fifthComplimentTextColor;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-color: @firstComplimentColor;
      position: absolute;
      top: 13px;
      color: @firstComplimentColor;
      opacity: 1;
    }

    &.slick-disabled {
      background-color: @secondComplimentBackground;
      border-color: @secondComplimentBackground;

      &:before {
        border-color: @secondBorderColor;
      }
    }

    @media (max-width: @tabletWidth - 1px) {
      display: none !important;
    }
  }
  .slick-prev {
    left: -43px;
    &:before {
      left: 15px;
      border-bottom: 2px solid;
      border-left: 2px solid;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .slick-next {
    right: -43px;
    &:before {
      right: 15px;
      border-bottom: 2px solid;
      border-left: 2px solid;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }

  .slick-dots {
    @media (min-width: @tabletWidth) {
      width: 130px;
    }
  }

  .slick-thumb {
    position: absolute;
    transform: none;

    @media (min-width: @tabletWidth) {
      top: 0;
      left: -175px;
    }

    li {
      width: 130px;
      height: 86px;
      margin-bottom: 5px;
      border: 1px solid transparent;

      &.slick-active {
        border-color: @thirdComplimentTextColor;
      }
    }

    &-item {
      padding: 4px;

      img {
        height: 76px;
        border: 1px solid @secondBorderColor;
      }
    }

    @media (max-width: @tabletWidth - 1px) {
      padding: 0 7px;
      text-align: left;

      li {
        height: auto;
        width: auto;
        display: inline-block;
        margin: 0 4px;

        &.slick-active {
          border-color: transparent;

          .slick-thumb-item {
            background-color: @buttonActiveColor;
            border-color: @buttonFocusColor;
          }
        }
      }

      .slick-thumb-item {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid @buttonFocusColor;
        background-color: @buttonFocusColor;

        img {
          display: none;
        }
      }
    }
  }

  &-wrap {
    &:not(.single-image-slider) {
      @media (min-width: @tabletWidth) {
        padding-left: 130px;

        .itemdetail-main-img {
          min-height: 450px;
        }
      }
    }
  }
}

.detail-list-item {
  border-bottom: solid 1px @mainBorderColor;
  text-align: right;
  padding: 0 20px;
}

.item-detail-attribute-label-col {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  min-height: 46px;
  text-align: left;
  color: @firstComplimentColor;
  text-transform: uppercase;
  position: relative;

  .item-arrow-btn {
    right: 20px;
    transform: translateY(-50%);
    display: inline-block;
    float: right;
    position: absolute;
    margin-top: 12px;
    height: 20px;
    width: 16px;
    border: none;
    background: transparent;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: "";
      border-top: 3px solid @firstComplimentColor;
      border-right: 3px solid @firstComplimentColor;
      height: 12px;
      width: 12px;
      position: absolute;
      transform: translate(2px, 1px) rotate(135deg);
      top: 2px;
      right: 3px;
    }

    &.up {
      transform: translate(2px, -7px) rotate(-180deg);
    }
  }
}

.item-detail-attribute-value-col {
  line-height: 1.5;
  color: @mainTextColor;
  text-align: left;
  padding-bottom: 10px;

  &.hide {
    display: none;
  }
}

.item-detail-attributes {
  border-top: 1px solid @mainBorderColor;
}

@media (max-width: @mobileWidth) {
  .itemdetail-tabs .nav-item .nav-link {
    padding: 5px;
  }
}
