@import './../../../theme/common.scss';

.container {
  padding: 0;

  .title {
    font-weight: bold;
    padding: 15px 0;
  }
}

.accounts-table {
  .account-list-rows {
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }

    .defaults {
      label {
        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (max-width: $mobileWidth) {
      .arrow {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        align-self: center;
      }
      .status {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        align-self: center;
      }
    }
  }

  .action-column {
    color: $firstComplimentColor;

    &:hover {
      font-weight: bold;
    }
  }
}

.b2b-table {
  width: 100%;
  position: relative;

  thead {
    background-color: $secondComplimentBackground;

    th {
      padding: 5px;
      vertical-align: middle;
      color: $firstComplimentTextColor;

      @media (min-width: 576px) {
        height: 50px;
        padding: 0 10px;
      }

      @media (min-width: $mobileWidth) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    tr {
      border: none;
    }
  }

  tr {
    border-bottom: 1px solid $fifthComplimentTextColor;

    @media (min-width: 576px) {
      height: 50px;
    }

    td {
      padding: 5px;
      vertical-align: middle;

      @media (min-width: 576px) {
        padding: 0 10px;
      }

      @media (min-width: $mobileWidth) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .no-data-message {
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 15px;
  }
}

.payment-instrument {
  .alert-container {
    position: absolute;
    top: 0;
    z-index: 1000;
    padding: 0 10px;
  }
}

.new-payment-modal {
  .modal-body {
    margin-top: 20px;
  }

  .modal-content {
    padding: 0 20px;
  }

  .required-label {
    color: $mainErrorColor
  }

  .modal-header {
    border-bottom: 1px solid $secondBorderColor;
    margin: 10px 20px;
    padding: 10px 0;
  }

  .cart-selection-menu {
    width: 90%;
    height: 250px;
    overflow: scroll;
  }

  .btn-payment-method {
    border: 1px solid $secondBorderColor;
    position: relative;
    display: block;
    width: 90%;
    color: $mainColor;
    text-align: left;
    font-weight: 400;

    &::after {
      right: 16px;
      top: 16px;
      position: absolute;
    }

    &:hover {
      background-color: unset;
    }
  }

  .payment-option {
    padding: 10px;
    border-bottom: 1px solid $secondBorderColor;
    overflow: hidden !important;
    text-overflow: ellipsis;

    &:hover {
      cursor: pointer;
    background-color: $forthComplimentBackground;
    }
  }

  .dialog-footer {
    margin-top: 40px;
    text-transform: capitalize;

    .cancel {
      &:hover {
        background-color: unset;
        color: $firstComplimentColor;
      }
    }
    .ep-btn {
      text-transform: capitalize;
    }
  }
}
