@import './../../theme/common.scss';

.dashboard-component {
  .admin-address-book {
    display: none;
    width: 100%;
    margin-bottom: 26px;
    @media (min-width: $mobileWidth) {
      display: none;
    }
    .admin-section {
      margin: 0 0 26px;
      @media (min-width: $mobileWidth) {
        margin: 0 20px 0 0;
      }
      .user-info {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .user-icon {
          height: 100%;
          margin-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          fill: $firstComplimentColor;
        }
        .user-details {
          flex: 1 0;
          .user-email {
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 4px;
          }
          .user-name {
            font-size: 13px;
            color: $firstComplimentTextColor;
          }
        }
      }
    }
    .address-book-section {
      .section-content {
        @media (min-width: 576px) {
          display: flex;
        }
        .address {
          flex: 1 0;
          .address-title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 18px;
          }
          .address-content {
            font-size: 13px;
            color: $firstComplimentTextColor;
          }
        }
      }
      .default-billing {
        margin-bottom: 20px;
        @media (min-width: 576px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .accounts {
    margin-bottom: 100px;
    .section-content {
      .accounts-list {
        .action {
          position: relative;
          width: 20px;
        }
      }
    }
  }

  .accounts-list {
    .header-row {
      display: grid;
      grid-template-columns: 40% 20% 20% 20%;
      padding: 24px 0 24px 24px;
      font-size: 14px;
      line-height: 17px;
      color: $sixComplimentTextColor;
      background-color: $secondComplimentBackground;

      @media (max-width: $tabletWidth) {
        grid-template-columns: 80% 20%;

        .external-id {
          display: none;
        }
        .status {
          display: none;
        }
      }

      .name {
        padding-left: 36px;
      }

      .miniLoader {
        border: 3px solid $firstComplimentBackground;
        border-top: 3px solid $secondComplimentColor;
      }
    }
  }

  .accounts-search {
    position: relative;
    margin-bottom: 15px;
    input {
      height: 32px;
      width: 400px;
      padding: 0 30px 0 15px;
      font-size: 14px;
      line-height: 18px;
      color: $firstComplimentTextColor;
      border: 1px solid $firstBorderColor;
      border-radius: 4px;
      background: $mainBackgroundColor url('../#{$imgUrl}/header-icons/search_icon.svg') no-repeat calc(100% - 10px) center;
      outline: 0 auto transparent;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    .circularLoader {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  .no-results {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid $fifthComplimentTextColor;
  }

  .info-icon {
    fill: $firstComplimentColor;
    width: 20px;
    margin-left: 5px;
  }

  .ep-tooltip {
    vertical-align: bottom;
    margin-bottom: 2px;
  }

  .ep-tooltip .tooltiptext {
    padding: 10px 5px;
    width: 260px;
    bottom: -10px;
    margin-left: 4px;
  }

  .ep-tooltip .tooltiptext::after {
    top: 45%;
    left: -5px;
    transform: rotate(90deg);
  }
}
