@import './../../theme/common.scss';

.dashboard-component {
  .admin-address-book {
    display: none;
    width: 100%;
    margin-bottom: 26px;
    @media (min-width: $mobileWidth) {
      display: none;
    }
    .admin-section {
      margin: 0 0 26px;
      @media (min-width: $mobileWidth) {
        margin: 0 20px 0 0;
      }
      .user-info {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        .user-icon {
          height: 100%;
          margin-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          fill: $firstComplimentColor;
        }
        .user-details {
          flex: 1 0;
          .user-email {
            font-weight: bold;
            font-size: 13px;
            margin-bottom: 4px;
          }
          .user-name {
            font-size: 13px;
            color: $firstComplimentTextColor;
          }
        }
      }
    }
    .address-book-section {
      .section-content {
        @media (min-width: 576px) {
          display: flex;
        }
        .address {
          flex: 1 0;
          .address-title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 18px;
          }
          .address-content {
            font-size: 13px;
            color: $firstComplimentTextColor;
          }
        }
      }
      .default-billing {
        margin-bottom: 20px;
        @media (min-width: 576px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .accounts {
    margin-bottom: 100px;
    .section-content {
      .accounts-list {
        .action {
          position: relative;
          width: 20px;
        }
      }
    }
  }

  .accounts-list {
    .header-row {
      display: grid;
      grid-template-columns: 40% 20% 20% 20%;
      padding: 24px 0 24px 24px;
      font-size: 14px;
      line-height: 17px;
      color: $sixComplimentTextColor;
      background-color: $secondComplimentBackground;

      @media (max-width: $tabletWidth) {
        grid-template-columns: 80% 20%;

        .external-id {
          display: none;
        }
        .status {
          display: none;
        }
      }

      .name {
        padding-left: 36px;
      }
    }
    .account-row-container {
      position: relative;

      .account-row {
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        padding: 24px 0 24px 24px;
        border-bottom: 1px solid $fifthComplimentTextColor;
        cursor: pointer;

        @media (max-width: $tabletWidth) {
          grid-template-columns: 80% 20%;

          .external-id {
            display: none;
          }
          .status {
            display: none;
          }
        }

        @media (max-width: $mobileWidth) {
          padding: 24px 0 24px 12px;
        }

        .collapse-btn {
          background: none;
          border: none;
          color: inherit;
          padding: 0;
          outline: inherit;
        }

        .line {
          position: absolute;
          margin-left: 36px;
          top: 46px;
          height: calc(100% - 22px);
          border-left: 1px solid $secondBorderColor;
          z-index: 1;

          @media (max-width: $mobileWidth) {
            margin-left: 24px;
          }
        }

        &:hover {
          background-color: $accountTreeActive;
          color: #FFFFFF;

          .icons-collapse {
            &.closed {
              background-image: url('../#{$imgUrl}/icons/collapse-closed-white.svg');
            }
            &.open {
              background-image: url('../#{$imgUrl}/icons/collapse-open-white.svg');
            }
          }

          .icons-status {
            &.enabled {
              background-image: url('../#{$imgUrl}/icons/check-circle-white.svg');
            }
            &.disabled {
              background-image: url('../#{$imgUrl}/icons/remove-circle-white.svg');
            }
          }

          .ep-btn {
            color: #FFFFFF;
          }
        }
      }

      .account-row:after {
        content: "";
        width: 50px;
        height: 1.1px;
        background-color: white;
        position: absolute;
        left: 0;
        top: -1px;
      }
      .account-row.level1:after {
        width: 68px;
      }
      .account-row.level2:after {
        width: 86px;
      }
      .account-row.level3:after {
        width: 104px;
      }

      .mobile-table-title {
        display: none;
      }

      .icons-collapse {
        $size: 24px;
        display: inline-block;
        width: $size;
        height: $size;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-right: 8px;

        &.closed {
          background-image: url('../#{$imgUrl}/icons/collapse-closed.svg');
        }
        &.open {
          background-image: url('../#{$imgUrl}/icons/collapse-open.svg');
        }
      }

      .icons-status {
        $size: 14px;
        display: inline-block;
        width: $size;
        height: $size;
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: sub;
        margin: 0 6px 1px 0;

        &.enabled {
          background-image: url('../#{$imgUrl}/icons/check-circle.svg');
        }
        &.disabled {
          background-image: url('../#{$imgUrl}/icons/remove-circle.svg');
        }
      }

      .action {
        margin: auto;

        .ep-btn {
          text-transform: capitalize;
          height: auto;
          width: auto;
          margin: 0;
          min-height: 0;
          font-size: 13px;
          font-weight: normal;
          line-height: 16px;
          padding: 0;
          min-width: 0;
          border: none;
          background-color: transparent;

          &:hover {
            color: $firstComplimentColor;
            text-decoration: underline;
            background-color: transparent;
          }

          .edit-text {
            display: block;
          }
          .edit-icon {
            display: none;
            width: 20px;
            height: 20px;
            background-image: url('../#{$imgUrl}/icons/edit-pen-icon.svg');
          }

          @media (max-width: $tabletWidth) {
            .edit-text {
              display: none;
            }
            .edit-icon {
              display: block;
            }
          }
        }
      }

      @media (max-width: 575px) {
        display: block;

        .mobile-table-title {
          display: inline;
        } 
      }
    }
  }

  .accounts-search {
    position: relative;
    margin-bottom: 15px;
    input {
      height: 32px;
      width: 400px;
      padding: 0 30px 0 15px;
      font-size: 14px;
      line-height: 18px;
      color: $firstComplimentTextColor;
      border: 1px solid $firstBorderColor;
      border-radius: 4px;
      background: $mainBackgroundColor url('../#{$imgUrl}/header-icons/search_icon.svg') no-repeat calc(100% - 10px) center;
      outline: 0 auto transparent;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    .circularLoader {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  .no-results {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid $fifthComplimentTextColor;
  }

  .info-icon {
    fill: $firstComplimentColor;
    width: 20px;
    margin-left: 5px;
  }

  .ep-tooltip {
    vertical-align: bottom;
    margin-bottom: 2px;
  }

  .ep-tooltip .tooltiptext {
    padding: 10px 5px;
    width: 260px;
    bottom: -10px;
    margin-left: 4px;
  }

  .ep-tooltip .tooltiptext::after {
    top: 45%;
    left: -5px;
    transform: rotate(90deg);
  }
}
