/**
 * Copyright © 2019 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import './../../theme/common.less';

.requisition-component {

  .requisition-header {
    padding: 20px 0px 10px;

    .back-link {
      position: relative;
      display: inline-block;
      padding-left: 20px;
      font-weight: bold;
      color: @thirdComplimentColor;
      margin-bottom: 20px;

      svg {
        position: absolute;
        top: -2px;
        left: -8px;
        fill: @firstComplimentColor
      }
    }

    .name-container {
      display: flex;
      align-items: center;
      width: 100%;

      .name {
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        margin-right: 10px;
      }

      .edit-name {
        display: inline;
        font-size: 14px;
        position: relative;
        color: @thirdComplimentColor;
        border: none;
        background: transparent;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .add-to-cart-dropdown-wrap {
    .add-to-list-button {
      min-width: 220px;
      min-height: 30px;
      height: 32px;
      padding: 0 5px;
      text-transform: none;
    }

    @media screen and (min-width: 481px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  }

  .add-to-cart-dropdown {
    align-items: center;
    color: @mainColor;
    cursor: pointer;

    @media screen and (min-width: 481px) {
      display: inline-block;
    }

    .dropdown-sort-field {
      margin-top: 6px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .sort-title {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
      }

      .dropdown {
        color: @mainTextColor;
        font-weight: 500;
        text-transform: uppercase;

        .dropdown-toggle {
          height: 32px;
          width: 125px;
          display: block;
          font-size: 14px;
          color: @firstComplimentColor;
          background-color: @mainBackgroundColor;
          border: 1px solid @firstComplimentColor;
          text-align: center;
          border-radius: 0;

          &:focus {
            box-shadow: none;
          }

          &:after {
            position: absolute;
            top: 14px;
            right: 10px;
            border-width: 5px;
            border-bottom-width: 0;
          }

          @media (min-width: @mobileWidth) {
            min-width: 220px;
          }
        }

        .dropdown-menu {
          max-height: 200px;
          width: 100%;
          border: 1px solid @firstComplimentColor;
          border-top: none;
          margin: 0;
          padding: 0;
          border-radius: 0;
          top: 100% !important;
          transform: none !important;
          overflow-y: auto;
          text-align: center;

          .dropdown-item {
            padding: 8px 10px;
            font-size: 14px;
            text-transform: none;

            &:hover {
              background-color: @thirdComplimentBackground;
              color: @firstComplimentColor;
            }
          }
        }

        &.show .dropdown-toggle:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .add-to-cart-dropdown-wrap {
    .dropdown-sort-field {
      justify-content: flex-start;
    }

    .dropdown-toggle {
      min-width: 220px;
    }
  }

  .cart-lineitem-row {
    >div {
      display: none;
    }
  }

  .product-table {
    display: table;
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: @mobileWidth - 1px) {
      display: block;
    }

    .cart-lineitem-row,
    .product-table-heading {
      display: table-row;

      @media (max-width: @mobileWidth - 1px) {
        display: block;
        padding: 10px 0;
      }
    }

    .product-table-heading {
      @media (max-width: @mobileWidth - 1px) {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    .product-table-heading-item {
      height: 50px;
      padding: 5px;
      display: table-cell;
      vertical-align: middle;
      background: @secondComplimentBackground;
      color: @firstComplimentTextColor;
      font-weight: bold;
      border-bottom: 1px solid @secondBorderColor;
    }

    .checkbox-col,
    .thumbnail-col,
    .title-options-col,
    .options-col,
    .total-price-col,
    form.quantity-col,
    .remove-btn-col,
    .sku-col {
      display: table-cell;
      vertical-align: top;
      padding: 15px 5px;
      border-bottom: 1px solid @secondBorderColor;

      @media (max-width: @mobileWidth - 1px) {
        display: block;
        min-height: 30px;
        border: none;
        border-bottom: 1px solid @fifthComplimentTextColor;
        position: relative;
        padding: 5px 5px 5px 50%;

        &:before {
          content: attr(data-heading);
          position: absolute;
          top: 5px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          color: @firstComplimentTextColor;
          font-weight: bold;
        }
      }
    }

    .checkbox-col {
      @media (min-width: @mobileWidth) {
        width: 20px;
      }

      label {
        padding: 0;
      }
    }

    .checkbox-wrap {
      visibility: hidden;
    }

    .thumbnail-col {
      @media (min-width: @mobileWidth) {
        width: 75px;
      }

      img {
        max-width: 50px;
      }
    }

    .title-options-col {
      @media (min-width: @mobileWidth) {
        width: 200px;
      }
    }

    .sku-col {
      p {
        margin-bottom: 0;
        word-break: break-all;

        @media (min-width: @mobileWidth) {
          max-width: 200px;
        }
      }
    }

    .quantity-col {
      height: auto;
      width: auto;

      .input-group-btn {
        float: none;
      }

      @media (min-width: @mobileWidth) {
        width: 130px;
      }
    }

    .options-container {
      margin-bottom: 0;
    }

    .price-container {
      margin-bottom: 0;
    }

    .btn-cart-removelineitem {
      min-width: 20px;
      min-height: 20px;
      padding: 0 5px;
      border: none;

      &:hover {
        background: transparent;
      }

      .btn-text {
        display: none;
      }

      .recycle-bin-icon {
        display: inline;
        fill: @thirdComplimentColor;
      }
    }

    .title-col {
      a {
        color: @mainTextColor;
      }
    }

    .form-control-quantity {
      height: 30px;
    }

    .cart-total-purchase-price {
      font-weight: bold;
    }

    .remove-btn-col {
      float: none;
    }

    &.multi-select-mode {
      .checkbox-wrap {
        visibility: visible;
      }

      .btn-cart-removelineitem,
      .product-table-heading-item.actions span {
        visibility: hidden;
      }
    }
  }

  .bulk-edit-btn {
    font-size: 14px;
    position: relative;
    color: @thirdComplimentColor;
    border: none;
    background: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  .action-elements {
    .checkbox-wrap {
      @media (min-width: @mobileWidth) {
        display: inline-block;
      }
    }

    .selected-element {
      font-size: 13px;
      margin-right: 15px;
      color: @thirdComplimentColor;

      @media screen and (min-width: 481px) {
        display: inline-block;
        margin-left: 15px;
      }

      @media (min-width: @tabletWidth) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    .delete-btn {
      min-height: 32px;
      min-width: 125px;
      font-size: 14px;
      margin-top: 0;
      margin-right: 0;
      text-transform: none;
      font-weight: normal;
      vertical-align: middle;

      @media screen and (min-width: 481px) {
        min-width: 100px;
        margin-top: 5px;
        margin-right: 10px;
      }

      @media (min-width: @tabletWidth) {
        margin-left: 30px;
      }
    }
  }

  .pagination-wrap {
    min-height: 62px;
    padding: 10px 10px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    @media screen and (min-width: 481px) {
      padding-right: 20px;
    }

    &.multi-select-mode {
      background: @thirdComplimentBackground;
    }

    .add-to-cart-dropdown {
      vertical-align: middle;
    }

    .dropdown-sort-field {
      margin-top: 0;
    }
  }

  .list-name {
    height: 34px;
    width: 100%;
    padding: 0 5px 0 7px;
    border: 1px solid rgba(0,153,222,0.5);
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0 rgba(0,153,222,0.12);

    .error-message {
      height: 20px;
      padding-top: 10px;
      color: @mainErrorColor;
      font-size: 13px;
      font-weight: 600;
    }

    &.input-code-error{
      border: 1px solid rgba(224,32,32,0.2);
      background-color: rgba(224,32,32,0.1);
      &:focus {
        background-color: @mainBackgroundColor;
        + .clear-field-btn {
          background: #EEEEEE;
          &:before, &:after {
            display: inline-block;
            left: 11px;
            top: 7px;
          }
        }
      }
    }
  }

  .input-error-icon{
    display: inline-block;
    background: url('../@{imgUrl}/header-icons/baseline_error_24.png') no-repeat center center;
    pointer-events: visible;
    position: absolute;
    right: 5px;
    bottom: 25px;
    height: 24px;
    width: 24px;
  }

}

.product-pagination {
  white-space: nowrap;

  .pagination-btn {
    height: 36px;
    width: 36px;
    position: relative;
    border-radius: 50%;
    border: 1px solid @fifthComplimentTextColor;
    background: @mainBackgroundColor;
    vertical-align: middle;

    .arrow-left-icon {
      fill: @thirdComplimentColor;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    &:hover {
      border-color: @secondComplimentColor;
      background: @secondComplimentColor;

      .arrow-left-icon {
        fill: @mainBackgroundColor;
      }
    }

    &:disabled {
      border-color: @secondComplimentBackground;
      background: @secondComplimentBackground;

      .arrow-left-icon {
        fill: @secondBorderColor;
      }
    }
  }

  .next-btn {
    transform: rotate(180deg);
  }

  .pagination-txt {
    margin: 0 15px;
  }
}

@media (min-width: 1092px) {
  .requisition-component {
    width: 960px;
    margin: 0 auto;
  }
}
