@import './../../../theme/common.scss';

.account-row-container {
  position: relative;

  .account-row {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    padding: 24px 0 24px 24px;
    border-bottom: 1px solid $fifthComplimentTextColor;
    cursor: pointer;

    @media (max-width: 991px) {
      grid-template-columns: 80% 20%;

      .external-id {
        display: none;
      }
      .status {
        display: none;
      }
    }

    @media (max-width: $mobileWidth) {
      padding: 24px 0 24px 12px;
    }

    .collapse-btn {
      background: none;
      border: none;
      color: inherit;
      padding: 0;
      outline: inherit;
    }

    .line {
      position: absolute;
      margin-left: 36px;
      top: 46px;
      height: calc(100% - 22px);
      border-left: 1px solid $secondBorderColor;
      z-index: 1;

      @media (max-width: $mobileWidth) {
        margin-left: 24px;
      }
    }

    .short-line {
      height: calc(100% - 46px);
    }

    .open-icon {
      display: block;
      width: 17px;
      height: 17px;
      background-image: url('../../#{$imgUrl}/icons/open-icon.svg');
    }

    .name {
      display: flex;
      align-items: baseline;
    }

    .account-name {
      padding-top: 2px;
    }

    &:hover {
      background-color: $accountTreeActive;
      color: $mainNavigationColor;

      .icons-collapse {
        &.empty {
          background-image: url('../../#{$imgUrl}/icons/collapse-empty-white.svg');
        }
        &.closed {
          background-image: url('../../#{$imgUrl}/icons/collapse-closed-white.svg');
        }
        &.open {
          background-image: url('../../#{$imgUrl}/icons/collapse-open-white.svg');
        }
      }

      .icons-status {
        &.enabled {
          background-image: url('../../#{$imgUrl}/icons/check-circle-white.svg');
        }
        &.disabled {
          background-image: url('../../#{$imgUrl}/icons/remove-circle-white.svg');
        }
      }

      .ep-btn {
        color: $mainNavigationColor;
      }

      .open-icon {
        background-image: url('../../#{$imgUrl}/icons/open-icon-white.svg');
      }
    }
  }

  .account-row:after {
    content: "";
    width: 50px;
    height: 1.1px;
    background-color: $mainBackgroundColor;
    position: absolute;
    left: 0;
    top: -1px;
  }
  .account-row.level1:after {
    width: 68px;
  }
  .account-row.level2:after {
    width: 86px;
  }
  .account-row.level3:after {
    width: 104px;
  }

  .mobile-table-title {
    display: none;
  }

  .icons-collapse {
    $size: 24px;
    display: inline-block;
    width: $size;
    height: $size;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 8px;

    &.empty {
      background-image: url('../../#{$imgUrl}/icons/collapse-empty.svg');
    }

    &.closed {
      background-image: url('../../#{$imgUrl}/icons/collapse-closed.svg');
    }
    &.open {
      background-image: url('../../#{$imgUrl}/icons/collapse-open.svg');
    }
  }

  .icons-status {
    $size: 14px;
    display: inline-block;
    width: $size;
    height: $size;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: sub;
    margin: 0 6px 1px 0;

    &.enabled {
      background-image: url('../../#{$imgUrl}/icons/check-circle.svg');
    }
    &.disabled {
      background-image: url('../../#{$imgUrl}/icons/remove-circle.svg');
    }
  }

  .action {
    margin: auto;

    .ep-btn {
      text-transform: capitalize;
      height: auto;
      width: auto;
      margin: 0;
      min-height: 0;
      font-size: 13px;
      font-weight: normal;
      line-height: 16px;
      padding: 0;
      min-width: 0;
      border: none;
      background-color: transparent;

      &:hover {
        color: $firstComplimentColor;
        background-color: transparent;
      }

      .edit-text {
        display: block;

        &:hover {
          color: $fifthComplimentTextColor;
          text-decoration-color: $fifthComplimentTextColor;
          text-decoration: underline;
        }
      }

      .edit-icon {
        display: none;
        width: 20px;
        height: 20px;
        background-image: url('../../#{$imgUrl}/icons/edit-pen-icon.svg');
      }

      @media (max-width: 991px) {
        .edit-text {
          display: none;
        }
        .edit-icon {
          display: block;
        }
      }
    }
  }

  @media (max-width: 575px) {
    display: block;

    .mobile-table-title {
      display: inline;
    }
  }
}
