/**
 * Copyright © 2019 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */


 @mainColor: #040060;
 @firstComplimentColor: #40b1f3;
 @secondComplimentColor: #00a3dd;
 @thirdComplimentColor: #0099DE;

 @mainTextColor: #333333;
 @firstComplimentTextColor: #777777;
 @secondComplimentTextColor: #666666;
 @thirdComplimentTextColor: #565656;
 @fourthComplimentTextColor: #1F2532;

 @mainNavigationColor: #eeeeee;

 @buttonFocusColor: #007bff80;
 @buttonActiveColor: #0062cc;

 @mainBorderColor: #d0d0d0;
 @firstBorderColor: #D4D3D3;
 @secondBorderColor: #CCCCCC;

 @mainBackgroundColor: #ffffff;
 @firstComplimentBackground: #f3f3f3;
 @secondComplimentBackground: #f7f7f7;
 @thirdComplimentBackground: #f2f6fa;
 @forthComplimentBackground: #DBDBDB;
 @fifthComplimentBackground: #c5c5c5;

 @accountTreeActive: #e1f0f7;

 @firstAccentColor: #78b13f;

 @mobileWidth: 768px;
 @tabletWidth: 1092px;

 @imgUrl: '../images';
 @imgComponentUrl: '../../../app/src/images';
