a {
    color: #2090AC;
}

a:hover, a:focus {
    color: #00a3dd;
}

blockquote {
    border-left: 5px solid #2090AC;
}

.navbar{
    border-bottom: 2px solid #2090AC;
}

.navbar-inverse {
    background-color: #00a3dd;
    border-color: #2090AC;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #2090AC;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2090AC;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #2090AC;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2090AC;
}

.navbar-inverse .navbar-toggle {
    border-color: #2090AC;
}

.dropdown-menu{
    background-color: #2090AC;
}

.post-meta .fa{
    color: #2090AC;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #2090AC;
}

.tags a{
    background: #00a3dd;
}

.tags a:hover{
    background: #2090AC;
}

.label-default {
    background-color: #00a3dd;
}

.btn-primary {
    background-color: #00a3dd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color: #2090AC;
}

.form-control:focus{
    border-color: #00a3dd;
}

.block-icon{
    background: #00a3dd;
}

.pricing-table .panel-default > .panel-heading{
    background-color: #2090AC;
}

.pricing-table .panel-default > .panel-body{
    background-color: #00a3dd;
}

h3.error-404 {
    color: #2090AC;
}