/**
 * Some override styles for the Jekyll/GitHub Pages site to slightly customize
 * the styles brought across from the Developer Portal
*/

/* Fix to prevent wrapping menu overlapping page header */
@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-right: -15px;
    }
}

/* Fix for the visibility of anchors with a fixed header */
a[name] {
    display: block;
    position: relative;
    visibility: hidden;
    top: -64px;
}

/* Extra spacing above the footer */
.footer-after {
    margin-top: 20px;
}

img {
    max-width: 100% !important;
}

/*
 * No need (based on the current number of menu items) to restrict the
 * height of the fly-out menu on smaller screen resolutions
*/
.navbar-collapse {
    max-height: inherit !important;
}

/* Prevent fly-out menu floating right at smaller resolutions */
@media screen and (max-width: 767px) {
    #navbar .navbar-nav {
        float: none;
    }
}

@media screen and (min-width: 768px) {
    .repo-link {
        display: block;
        margin: 40px 15px 20px 0;
        padding-bottom: 9px;
        text-align: right;
        position: absolute;
        top:0;
        right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .repo-link, .repo-link:hover {
        margin: -10px 0 20px 0;
    }
}

.repo-link, .repo-link:hover, .repo-link:active {
    display: inline-block;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #2c3e50 no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}