/**
 * Copyright © 2019 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import '../../../theme/common.less';

.home-page-b2c {
  .main-banner {
    overflow: hidden;
    height: 480px;
    margin-bottom: 45px;
    position: relative;

    .main-banner-image {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    &-title-wrap {
      width: 100%;
      padding: 15px 0 30px;
      background-color: rgba(0,0,0,0.5);
      color: @mainBackgroundColor;
      position: absolute;
      bottom: 0px;

      .goods-heading {
        color: inherit;
      }
    }

    .goods-heading {
      margin-bottom: 10px;

      @media (min-width: 992px) {
        padding: 0 22px;
      }
    }

    &-txt {
      @media (min-width: 481px) {
        display: flex;
        align-items: center;
      }

      @media (min-width: 992px) {
        padding: 0 22px;
      }
    }

    .goods-description {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;

      @media (min-width: 481px) {
        font-size: 16px;
        line-height: 24px;
        margin: 0 20px 0 0;
      }
    }

    .learn-more-btn {
      min-width: 120px;
      white-space: nowrap;
      margin: 0;
      text-transform: none;
    }

    &.banner-section-2 {
      .main-banner-image {
        border: 1px solid @secondBorderColor;
      }
    }
  }

  .goods-title-small {
    font-size: 12px;
    font-style: italic;
    color: #9B9B9B;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  .goods-title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: @mainColor;
    margin-bottom: 20px;
  }

  .goods-heading {
    color: @mainColor;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;

    @media (min-width: 481px) {
      font-size: 36px;
    }
  }

  .goods-description {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .main-goods {
    overflow: hidden;
    margin-bottom: 45px;
    position: relative;

    &-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 25px;

      @media (min-width: 481px) {
        font-size: 28px;
      }
    }

    &-image {
      width: 100%;
      max-height: 100%;
      object-fit: cover;

      @media (max-width: 991px) {
        max-height: 400px;
      }
    }

    &-title-wrap {
      width: 100%;
      padding: 15px 0 30px;
      background-color: rgba(0,0,0,0.5);
      color: @mainBackgroundColor;
      position: absolute;
      bottom: 0;

      .goods-heading {
        color: inherit;
      }
    }

    .goods-heading {
      margin-bottom: 10px;

      @media (min-width: 992px) {
        padding: 0 22px;
      }
    }

    &-wrap {
      position: relative;
      height: 100%;

      @media (min-width: 481px) {
        min-height: 400px;
        display: flex;
      }

      @media (min-width: 991px) {
        min-height: 1px;
      }

      .goods-info {
        width: 100%;
        padding: 15px 20px;

        @media (min-width: 481px) {
          padding: 20px 30px;
        }
      }
    }

    &-txt {
      @media (min-width: 481px) {
        display: flex;
        align-items: center;
      }

      @media (min-width: 992px) {
        padding: 0 22px;
      }
    }

    .learn-more-btn {
      min-width: 120px;
      white-space: nowrap;
      margin: 0;
      text-transform: none;
    }

    &__grid {
      @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        grid-gap: 35px;
      }
    }

    &__cell {
      border: 1px solid @secondBorderColor;

      @media (min-width: 481px) {
        .goods-description {
          max-width: 180px;
        }
      }

      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
    }
  }

  .goods-section-1 {
    .main-goods {
      &__grid {
        @media (min-width: 992px) {
          grid-template-rows: 400px 400px 400px;
        }
      }

      &__cell {
        &:first-child {
          grid-row: ~"1 / 3";

          .goods-info {
            width: 100%;
            padding: 45px 30px 35px;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
          }

          .goods-title-small {
            margin-bottom: 7px;
          }

          .goods-title {
            margin-bottom: 10px;
            color: @mainBackgroundColor;

            @media (min-width: 481px) {
              padding-right: 120px;
              margin-bottom: 0;
            }
          }

          @media (min-width: 481px) {
            .btn-wrap {
              text-align: right;
            }
          }
        }

        &:nth-child(2) {
          .goods-info {
            position: relative;
            z-index: 1;
          }

          @media (min-width: 481px) {
            .goods-info {
              width: 50%;
            }

            .goods-title {
              margin-bottom: 30px;
            }

            .goods-description {
              max-width: 140px;
            }

            .main-goods-image {
              width: 70%;
              max-width: 400px;
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
        }

        &:nth-child(3) {
          .goods-info {
            background-color: @firstComplimentColor;
          }

          .goods-title-small {
            color: @mainBackgroundColor;
          }

          .goods-title {
            color: @mainBackgroundColor;
          }

          .goods-description {
            margin-bottom: 30px;
            color: @mainBackgroundColor;
          }

          .learn-more-btn {
            background-color: @mainBackgroundColor;
            color: @firstComplimentColor;
          }

          @media (min-width: 481px) {
            .main-goods-image {
              width: 50%;
            }
          }

          @media (min-width: 992px) {
            .goods-title {
              max-width: 185px;
            }
          }
        }

        &:nth-child(4) {
          @media (min-width: 481px) {
            .main-goods-image {
              width: 50%;
            }
          }
        }

        &:nth-child(5) {
          .goods-info {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }

  .goods-section-2 {
    .main-goods {
      &__cell {
        &:first-child {
          .main-goods-image {
            max-width: 290px;
          }
        }

        &:nth-child(2) {
          .main-goods-image {
            max-width: 282px;
          }
        }

        @media (min-width: 481px) {
          .goods-info {
            width: 50%;
          }
          .main-goods-image {
            width: 53%;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

        @media (max-width: 480px) {
          .main-goods-image {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .goods-section-3 {
    .goods-description {
      max-width: 100%;

      @media (min-width: 992px) {
        max-width: 450px;
      }
    }

    @media (max-width: 991px) {
      .main-goods-wrap {
        min-height: 1px;
      }
    }
  }
}
