@import './../style/common.less';

.app-header-navigation-component {

  .navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
  }
  .btco-hover-menu a ,  .navbar > li > a {
    text-transform: capitalize;
    padding: 10px 15px;
  }
  .btco-hover-menu .active a,
  .btco-hover-menu .active a:focus,
  .btco-hover-menu .active a:hover,
  .btco-hover-menu li a:hover,
  .btco-hover-menu li a:focus ,
  .navbar>.show>a,  .navbar>.show>a:focus,  .navbar>.show>a:hover{
    color: #000;
    background: transparent;
    outline: 0;
  }

  /*first level*/
  .btco-hover-menu .collapse ul > li:hover > a{background: #f5f5f5;}
  .btco-hover-menu .collapse ul ul > li:hover > a, .navbar .show .dropdown-menu > li > a:focus, .navbar .show .dropdown-menu > li > a:hover{background: #fff;}
  /*second level*/
  .btco-hover-menu .collapse ul ul ul > li:hover > a{background: #fff;}

  /*third level*/
  .btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu{background:#f5f5f5;}
  .btco-hover-menu .collapse ul ul ul, .btco-hover-menu .collapse ul ul ul.dropdown-menu{background:#f5f5f5}
  .btco-hover-menu .collapse ul ul ul ul, .btco-hover-menu .collapse ul ul ul ul.dropdown-menu{background:#f5f5f5}

  @media screen and (max-width: @mobileWidth - 1) {

    /** First dropdown **/
    .btco-hover-menu ul li {
      position: relative;
    }

    .btco-hover-menu ul li:hover > ul {
      display: block
    }

    .btco-hover-menu ul ul {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 250px;
      display: none
    }

    /** Right Dropdown Styling **/
    .btco-hover-menu .right-drop-down {
      position: relative
    }

    .btco-hover-menu .right-drop-down:hover > ul {
      display: block
    }

    .btco-hover-menu .right-drop-down > .dropdown-menu {
      position: absolute;
      top: 0;
      left: -100%;
      min-width: 250px;
      display: none;
      z-index: 1
    }

    /** Left Dropdown **/
    .btco-hover-menu .left-drop-down {
      position: relative
    }

    .btco-hover-menu .left-drop-down:hover > ul {
      display: block
    }

    .btco-hover-menu .left-drop-down > .dropdown-menu {
      position: absolute;
      top: 0%;
      left: 100%;
      min-width: 250px;
      display: none
    }
  }
}
