@import './../style/common.less';

.app-header-navigation-component {

  /** First dropdown **/
  .btco-hover-menu ul li{
    position:relative;
  }
  .btco-hover-menu ul li:hover> ul{
    display:block
  }
  .btco-hover-menu ul ul{
    position:absolute;
    top:100%;
    left:0;
    min-width:250px;
    display:none
  }

  /** Right Dropdown Styling **/
  .btco-hover-menu .right-drop-down {
    position:relative
  }
  .btco-hover-menu .right-drop-down:hover> ul{
    display:block
  }
  .btco-hover-menu .right-drop-down > .dropdown-menu {
    position:absolute;
    top:0;
    left:-100%;
    min-width:250px;
    display:none;
    z-index:1
  }

  /** Left Dropdown **/
  .btco-hover-menu .left-drop-down {
    position:relative
  }
  .btco-hover-menu .left-drop-down:hover> ul{
    display:block
  }
  .btco-hover-menu .left-drop-down > .dropdown-menu {
    position:absolute;
    top:0%;
    left:100%;
    min-width:250px;
    display:none
  }
}
