/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

 @import './../style/common.less';

.login-modal-content {
  #login_modal_form {
    span {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-control {
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      color: #555555;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }

  #simplemodal-container {
    background-color: #fff;
    border: 8px solid #444;
    padding: 12px;
  }

  #login_modal_close_button {
    font-size: 30px;
  }

  .form-input.btn-container {
    padding-top: 15px;
  }

  .btn-auth-login,
  .btn {
    width: 100px;
    margin-right: 10px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    color: @complimentBlueColor;
    background-color: #ffffff;
    border: solid 1px @complimentBlueColor;
    border-radius: 0;
    text-align: middle;
    box-shadow: none;
    white-space: nowrap;
    height: auto;
    display: inline-block;

    &.btn-primary {
      padding: 8px 14px;
      background-color: @mainBlueColor;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      max-width: 280px;
    }
  }

  .btn-auth-login {
    &:focus {
      outline: thin dotted #333;
      outline-offset: -2px;
    }

    &:hover,
    &:focus {
      color: #333333;
      text-decoration: none;
    }

    &:active,
    &.active {
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.65;
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
      color: #ffffff;
      background-color: rgba(0, 133, 180, 0.667);
      border-color: rgba(0, 99, 134, 0.667);
    }
  }

  .btn-link {
    color: @complimentBlueColor;
    font-size: 14px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #006b91;
      text-decoration: underline;
    }

    &[disabled]:hover,
    fieldset[disabled] &:hover,
    &[disabled]:focus,
    fieldset[disabled] &:focus {
      color: #999999;
      text-decoration: none;
    }
  }
}
