/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import './../style/common.less';

.cart-lineitem-row {
  border-bottom: 1px solid #d0d0d0;
  padding-top: 15px;
  padding-bottom: 15px;

  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .thumbnail-col {
    display: inline-block;
    padding-right: 10px;
    img {
      max-width: 60px;
    }
  }

  .title-col {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 3px;
    width: 60%;
  }

  .options-col {
    display: inline-block;
    width: 50%;
  }

  .availability-col {
    display: inline-block;
    width: 50%;
    text-align: right;

    .availability-container {
      .itemdetail-availability-state {
        padding: 0;

        div {
          float: right;
          background-color: #fff;
          border-radius: 10px;
          border: solid #040060;
          border-width: 1px 1px;
          color: #040060;
          padding: 3px 10px;
          font-size: 10px;
          text-transform: uppercase;
        }

        .icon {
          position: relative;
          top: 1px;
          display: inline-block;
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          margin-right: 6px;
          margin-top: -4px;
        }

        .icon:before {
          content: "\e013";
        }
      }
    }
  }

  .unit-price-col {
    display: inline-block;
    width: 50%;
    .cart-unit-list-price {
      text-decoration: line-through;
    }
  }

  .total-price-col {
    display: inline-block;
    width: 50%;
    .cart-total-purchase-price {
      font-weight: bold;
      text-align: right;
    }
  }

  .remove-btn-col {
    float:right;
    .btn-cart-removelineitem {
      text-shadow: none;
      color: #00a3dd;
      background-color: #ffffff;
      border: solid 1px #00a3dd;
      border-radius: 0;
      text-align: middle;
      box-shadow: none;
      white-space: nowrap;
      height: auto;
      display: inline-block;
      width: 90px;
      height: 30px;
      .btn-text {
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
      }
    }
    .btn-cart-removelineitem:hover {
      background-color: #00a3dd;
      color: #ffffff;
    }
  }

  th:last-child,
  td:last-child {
    text-align: center;
  }

  th:first-child,
  td:first-child {
    padding-left: 30px;
  }

  .quantity-col {
    display: inline-block;
    .form-control {
      border: solid 1px #8a8a8a;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      appearance: none;
      -webkit-appearance: none;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      width: 40px;
      height: 30px;
      background: url(../images/header-icons/down-arrow.png) no-repeat 96% 0;
      background-position: 42px;
      background-size: 16px 9px;
    }
  }

  .quantity-select {
    min-width: 70px;
  }
}
