.order-lineitem-row {

  a {
    color: #333333;
    text-decoration: none;
  }

  .quantity-col{
    text-align: center;
  }

  .thumbnail-col {
    img {
      max-width: 60px;
      background-color: #eee;
      padding: 2px;
      border-radius: 2px;
      border: 1px solid #dddddd;
      background: #ffffff;
    }
  }

  .title-col {
    font-size: 16px;
  }

  .purchase-price {
    font-weight: bold;
  }
}
