/**
 * Copyright © 2018 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import './../style/common.less';

.itemdetail-component {
  line-height: 2.14;
  padding-top: 30px;
  text-align: center;

  .itemdetail-assets {
    width: 380px;
    vertical-align: top;
    display: inline-block;

    .itemdetail-asset-container {
      img {
        max-width: 380px;
        max-height: 380px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .itemdetail-details {
    vertical-align: top;
    padding-top: 30px;
    margin-left: 50px;
    display: inline-block;
    width: 280px;
    font-size: 12px;
    line-height: normal;
    text-align: left;

    .itemdetail-title,
    .itemdetail-price-container {
      font-weight: 600;
      line-height: 1.25;
    }

    .itemdetail-addtocart {
      vertical-align: top;
      display: inline-block;

      .btn-itemdetail-addtocart {
        width: 280px;
        height: 40px;
        background-color: @mainBlueColor;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        border: 0;
        border-radius: 0;
        text-transform: uppercase;
        margin-top: 10px;
      }

      .form-group {
        margin-bottom: 15px;

        .control-label {
          margin-top: .75rem;
          color: #8a8a8a;
          font-weight: 600;
          text-transform: uppercase;
        }

        .form-content {
          float: right;

          .form-control {
            border: solid 1px #8a8a8a;
            font-size: 12px;
            font-weight: 600;
            line-height: normal;
            appearance: none;
            -webkit-appearance: none;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            width: 180px;
            height: 30px;
            background: url(../images/header-icons/down-arrow.png) no-repeat 96% 0;
            background-position: 152px;
            background-size: 16px 9px;
          }
        }
      }
    }

    .itemdetail-attribute:nth-of-type(1) {
      border-bottom: solid 1px @mainGrey;
      padding-bottom: 25px;
    }

    .itemdetail-attribute-label-col {
      font-size: 14px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .itemdetail-attribute-value-col {
      line-height: 1.5;
      color: #8a8a8a;
      font-weight: 600;
    }
  }

  @media (min-width: @mobileWidth - 100px) and (max-width: @tabletWidth - 350px) {
    .itemdetail-assets {
      width: 50%;
      height: 100%;
    }

    .itemdetail-assets .itemdetail-asset-container img {
      width: 100%;
      height: 100%;
    }

    .itemdetail-details {
      margin-left: 39px;
    }

    .itemdetail-details .itemdetail-addtocart .btn-itemdetail-addtocart {
      display: block;
      width: 100%;
    }
  }

  @media (max-width: @mobileWidth - 100px) {
    .itemdetail-assets {
      display: block;
      width: 100%;
    }

    .itemdetail-details {
      display: block;
      width: 100%;
      margin: 0;
    }

    .itemdetail-details .itemdetail-addtocart .btn-itemdetail-addtocart {
      display: block;
      width: 100%;
    }
  }

  .itemdetail-availability-container {
    padding-top: 10px;
    padding-bottom: 2px;

    .itemdetail-availability-state {
      label {
        background-color: #fff;
        border-radius: 10px;
        border: solid @mainColor;
        border-width: 1px 1px;
        color: @mainColor;
        padding: 3px 10px;
        font-size: 10px;
        text-transform: uppercase;

        .icon {
          margin-right: 6px;
        }
      }
    }
  }
}
