@import './../../theme/common.less';

.dialog-header {
  flex: 0 0 auto;
  font-size: 20px;
  padding-right: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid @lightBorderColor;
}
.dialog-content {
  padding: 50px 0;
  flex: 1 0 auto;

  .associate-email-title {
    font-weight: 700;
    color: @darkTextColor;
    margin-bottom: 6px;
  }

  .checkbox-role-title {
    font-weight: 700;
    color: @darkTextColor;
    margin-bottom: 6px;
    margin-top: 20px;
  }
  .role-checkbox {
    margin-bottom: 5px;

    .style-checkbox {
      +label {
        color: @darkTextColor;
        &:before {
          border: 2px solid @borderColor;
        }
      }
      &:checked {
        +label {
          &:before {
            background-color: @backgroundColor;
            border-color: @mainComplimentColor;
          }
          &:after {
            border: solid 2px @mainComplimentColor;
            border-right: none;
            border-top: none;
          }
        }
      }
      &:disabled {
        +label {
          opacity: .3;
        }
      }
    }
  }

  .am-columns {
    display: flex;

    @media (max-width: 575px) {
      display: block;
    }
    .am-field-editor {
      width: 50%;
      margin-right: 30px;
      position: relative;

      @media (max-width: 575px) {
        width: 100%;
        margin-right: 0;
      }

      .field-editor-input {
        width: 100%;
        height: 32px;
        border: 1px solid @borderColor;
        border-radius: 5px;
        padding: 4px 20px 4px 11px;

        &:disabled {
          background-color: @tableBackgroundColor;
          cursor: not-allowed;
          color: @borderColor;

        }
        &.input-code-error{
          border: 1px solid rgba(224,32,32,0.2);
          background-color: rgba(224,32,32,0.1);
          &:focus {
            background-color: #FFFFFF;
            + .clear-field-btn {
              background: #EEEEEE;
              &:before, &:after {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .account-title {
      font-weight: 700;
      color: @darkTextColor;
      margin-bottom: 5px;
      &.sub {
        margin-top: 20px;
      }
    }

    @media (max-width: 480px) {
      display: block;
    }
  }
}

.input-error-icon{
  display: inline-block;
  background: url('../../images/header-icons/baseline_error_24.png') no-repeat center center;
  pointer-events: visible;
  position: absolute;
  right: 18px;
  top: 30px;
  height: 24px;
  width: 24px;
}

.error-message {
  height: 20px;
  padding-top: 10px;
  color: #E02020;
  font-size: 13px;
  font-weight: 600;
}

.dialog-footer {
  flex: 0 0 auto;
  text-align: right;
  padding-bottom: 10px;
  button {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 44px;
    cursor: pointer;
    outline: 0;
    @media (min-width: 576px) {
      width: 133px;
    }
    &.cancel {
      color: @mainComplimentColor;
      margin-right: 10px;
      @media (min-width: 576px) {
        margin-right: 20px;
      }
      &:hover {
        color: lighten(@mainComplimentColor, 3%);
      }
      &:active {
        color: lighten(@mainComplimentColor, -3%);
      }
    }
    &.upload {
      background-color: @mainComplimentColor;
      color: @backgroundColor;
      &:hover {
        background-color: lighten(@mainComplimentColor, 3%);
      }
      &:active {
        background-color: lighten(@mainComplimentColor, -5%);
      }
    }
  }
}
.loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
