@import './../../theme/common.less';

.requisition-component {
  height: 100%;
  display: flex;
  padding-bottom: 50px;

  .requisition-header {
    flex: 0 0 auto;
    padding: 20px 0px 10px;

    @media (max-width: @tabletWidth - 1px) {
      display: flex;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      padding: 16px 15px;
    }

    .back-link {
      font-weight: bold;
      color: @thirdComplimentColor;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .back-arrow {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('../@{imgUrl}/icons/outline-chevron_left-24px.svg') no-repeat;
      }

      @media (max-width: @tabletWidth - 1px) {
        display: none;
      }
    }

    .name-container {
      display: flex;
      align-items: center;
      width: 100%;

      @media (max-width: @mobileWidth - 1px) {
        justify-content: space-between;
      }

      .back-link-mobile {
        font-weight: bold;
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        margin-right: 80px;
        color: @thirdComplimentColor;

        @media (max-width: @mobileWidth - 1px) {
          margin-right: 20px;
        }

        .back-arrow {
          width: 24px;
          height: 24px;
          background: url('../@{imgUrl}/icons/outline-chevron_left-24px.svg') no-repeat;
        }

        @media (min-width: @tabletWidth) {
          display: none;
        }
      }

      .name {
        margin-left: 25px;
        font-weight: bold;
        font-size: 24px;
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: @tabletWidth - 1px) {
          font-size: 16px;
          text-align: center;
        }

        @media (max-width: @mobileWidth - 1px) {
          margin: 0 20px 0 0;
        }

        @media (min-width: @mobileWidth) {
          flex: 1 0 auto;
        }

        @media (min-width: @tabletWidth) {
          display: flex;
          align-items: center;
        }
      }

      .edit-name {
        display: inline;
        font-size: 14px;
        padding-top: 4px;
        position: relative;
      }
    }
  }

  .header-container {
    .add-to-list-button {
      text-transform: none;
      display: inline;
    }
    .add-to-cart-dropdown {
      //display: flex;
      display: inline-block;
      align-items: center;
      color: @mainColor;
      cursor: pointer;

      .dropdown-sort-field {
        margin-top: 6px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .sort-title {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 0;
        }

        .dropdown {
          color: @mainTextColor;
          font-weight: 500;
          text-transform: uppercase;

          .dropdown-toggle {
            border: 1px solid @mainBorderColor;
            display: block;
            font-size: 13px;
            color: @mainTextColor;
            background-color: @mainBackgroundColor;
            width: 180px;
            text-align: left;
            border-radius: 0;

            &:focus {
              box-shadow: none;
            }

            &:after {
              position: absolute;
              top: 12px;
              right: 10px;
              border-width: 5px;
              border-bottom-width: 0;
            }
          }

          .dropdown-menu {
            border: 1px solid @mainBorderColor;
            margin: 0;
            padding: 0;
            width: 180px;
            border-radius: 0;
            max-height: 200px;
            overflow: scroll;

            button:hover {
              color: @secondComplimentColor;
            }
          }

          &.show .dropdown-toggle:after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

@media (min-width: 1092px) {
  .requisition-component {
    width: 960px;
    margin: 0 auto;
  }
}
