.vr-container {
    width: 100%;
    height: 250px;
    position: absolute;
    padding-left: 10px;
}

.exit-button {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 5px;
    width: 3%;
    height: 3%;
}