@import '../../../theme/common.less';

.vr-container {
    width: 100%;
    height: 380px;
    padding-left: 10px;
}

#myEnterVRButton {
    position: absolute;
    z-index: 12;
    bottom: 3px;
    right: 10px;
    svg {
        height: 15px;
        width: 15px;
        fill: @mainNavigationColor;
        // Render outline of X in SVG.
        stroke: @mainColor;
        stroke-width: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

.exit-btn {
    background: transparent;
    border: none;
    position: absolute;
    z-index: 12;
    top: 0;
    right: 3px;
    cursor: pointer;
    
    svg {
        height: 15px;
        width: 15px;
        fill: @mainNavigationColor;
        // Render outline of X in SVG.
        stroke: @mainColor;
        stroke-width: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
}

.info-btn {
    background: transparent;
    border: none;
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 3px;
    cursor: pointer;
    
    svg {
        height: 20px;
        width: 20px;
        fill: @mainNavigationColor;
        // Render outline of X in SVG.
        stroke: @mainColor;
        stroke-width: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
}

.info-container {
    position: absolute;
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .info-contents {
        z-index: 20;
        background-color: rgba(0,0,0,0.5);
        width: 70%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .info-text {
            z-index: 20;
            color:white;
            font-weight: bold;
            padding: 0px;
            width: 70%;
            max-height: 280px;
            text-align: center;
            vertical-align: middle;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .info-text::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
        .info-text::-webkit-scrollbar-thumb {
            background: #888; 
        }
        .info-text::-webkit-scrollbar {
            width: 10px;
            display:none;
        }
    }
}

.body {
    scrollbar-width: thin;
    scrollbar-color: red yellow;
}