/**
 * Copyright © 2019 Elastic Path Software Inc. All rights reserved.
 *
 * This is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this license. If not, see
 *
 *     https://www.gnu.org/licenses/
 *
 *
 */

@import './../../../theme/common.less';

.app-login-component {
  position: relative;

  .auth-profile-menu-list {
    margin-bottom: 25px;
  }

  .login-btn {
    background-color: transparent;
    border: 0;
    color: @mainTextColor;
    cursor: pointer;
  }

  .dropdown {
    .dropdown-toggle {
      &:after {
        display: inline-block;
        content: ' ';
        width: 8px;
        height: 8px;
        border: none;
        border-left: 1.5px solid @mainColor;
        border-bottom: 1.5px solid @mainColor;
        transform-origin: center;
        transform: rotate(-45deg);
        vertical-align: middle;
      }
      &:focus {
        outline: none;
      }
    }

    &.show {
      .dropdown-toggle::after {
        transform: rotate(135deg);
        border-left-color: @thirdComplimentColor;
        border-bottom-color: @thirdComplimentColor;
        margin-top: 5px;
      }

      svg {
        fill: @thirdComplimentColor;
      }
    }

    .btn-auth-menu {
      font-size: 14px;
      color: @mainBackgroundColor;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &:hover {
        background-color: transparent;
      }

      &:focus {
        background-color: transparent;
      }

      .account-icon {
        display: inline-block;
        content: " ";
        width: 25px;
        height: 21px;
        background-size: cover;
      }
    }

    .profile-link,
    .shopping-as-link,
    .dashboard-link,
    .cart-select-btn,
    .wishlist-link,
    .purchase-history-link {
      padding: .25rem 1.5rem;
      text-align: left;
      display: block;
      border: none;
      height: 100%;
      background-color: transparent;
      color: @thirdComplimentColor;
      font-size: 13px;
      line-height: 19px;
      text-decoration: none;
      margin: 0 -1.5rem;
    }

    .logout-link {
      color: @mainNavigationColor;
      margin: 0;
      width: 100%;
      font-size: 13px;
      text-transform: capitalize;
    }

    .dropdown-item:hover {
      text-decoration: underline;
      text-decoration-color: @thirdComplimentColor;
      background: none;
    }

    .dropdown-item:active {
      color: inherit;
      outline: none;
    }

    .dropdown-menu {
      overflow: hidden;
      min-width: 145px;
      border-color: @secondComplimentColor;
      padding-bottom: 0;

      .dropdown-item {
        height: 32px;

        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;

        .dropdown-header {
          border-bottom: 1px solid @fifthComplimentTextColor;
        }
      }

      .shop-for {
        text-decoration: none;
        height: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid @fifthComplimentTextColor;

        &.b2c {
          height: 50px;
        }
        span:nth-child(2) {
          float: left;
        }
        .user-name {
          font-weight: bold;
        }

        .shopping-small {

        }
        .email-title {
          font-weight: bold;
          font-size: 12px;
          font-style: italic;
          color: @firstComplimentTextColor;
          margin-bottom: 0;
        }
      }
    }
  }

  &.mobile-view {
    padding: 10px 0px;

    .login-btn {
      color: @mainColor;
      font-size: 19px;
      font-weight: bold;
    }

    .dropdown {
      padding-top: 15px;
      padding-bottom: 15px;

      &.show {
        background-color: @fifthComplimentTextColor;
      }

      .dropdown-toggle {
        display: inline-block;
        color: @mainColor;
        font-size: 19px;
        font-weight: bold;
        outline: none;
        text-transform: uppercase;
      }

      .dropdown-menu {
        text-align: center;
        float: none;
        position: static !important;
        margin: 0;
        border: 0;
        background-color: transparent;
        transform: none !important;
        font-size: 17px !important;
        padding: 0;

        .dropdown-item {
          cursor: pointer;

          .dropdown-header {
            font-size: 17px !important;
          }

          .profile-link,
          .shopping-as-link,
          .wishlist-link,
          .dashboard-link,
          .purchase-history-link {
            padding: 5px 0;
            text-align: center;
            border: none;
            background-color: transparent;
            color: @mainColor;
            text-transform: uppercase;
            display: block;
            text-decoration: none;
          }
        }
      }
    }
  }

  .requisition-list-container {

    &.show:before {
      content: '';
      position: absolute;
      top: 26px;
      right: 14px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid @mainBackgroundColor;
      z-index: 10;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
      margin-top: 9px;
    }
  }
}
